google-api-python-client==2.170.0
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
httplib2==0.22.0
imageio-ffmpeg==0.6.0
requests==2.34.2
google-genai==1.16.1
cloudinary==1.44.1
edge-tts==7.0.0
gTTS==2.5.4
